<div [ngClass]="{'container' : !isSmall, 'small-screen': isSmall, 'xsmall-screen': isXSmall}">
  <h3>Exterior Options</h3>

  <div id="colour-picker-wrapper" class="grid">
    <app-ext-three-sixty [colour]="colour"></app-ext-three-sixty>

    <div id="list-wrapper">
      <h4>Currently: <i>{{colour}}</i></h4>

      <ul>
        <li (click)="updateColour('Sonic Red')">Sonic Red</li>
        <li (click)="updateColour('Frost White')">Frost White</li>
        <li (click)="updateColour('Sudo Black')">Sudo Black</li>
        <li (click)="updateColour('Gunmetal Silver')">Gunmetal Silver</li>
      </ul>

    </div>
  </div>
</div>

<!-- https://scaleflex.cloudimg.io/v7/demo/suv-orange-car-360/ -->
<!-- https://ik.imagekit.io/h0s40k5ceq/photos/cloudimage/ -->