<h3>Your saved cars</h3>

<ul>
  <li *ngFor="let car of cars; let index = index">
    <p-card header="header">
      <div class="grid">
        <!-- <p>https://ik.imagekit.io/h0s40k5ceq/photos/exterior/{{item.colour}}/1</p> -->
        <img src="../../../../../../assets/photos/gallery/1080p-architecture.jpg" alt="">
        {{car.colour}}, {{car.trim}}, {{car._id}}, {{car.options}}

        <div>
          <ul *ngFor="let accessory of car.options; let index = index">
            <span>{{accessory.value}}</span>
          </ul>
          <app-edit-accessories [selectedAccessories]="car.options"></app-edit-accessories>
        </div>

        <div class="flex">
          <button id="update-btn" pButton pRipple type="button" label="Update" icon="pi pi-check"
            class="p-button-rounded" (click)="updateCar(index, car)"></button>

          <button id="delete-btn" pButton pRipple type="button" label="Delete" icon="pi pi-times"
            class="p-button-rounded" (click)="deleteCar(index)"></button>
        </div>
      </div>
    </p-card>

  </li>
</ul>