h2 {
  font-weight: lighter;
  font-size: 2rem;
}

#details-wrapper > div {
  width: min(420px);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.small-screen {
  h2,
  div {
    padding-left: 1%;
  }
}
