// Nav bar border outline
@mixin nav-border($deg) {
  width: 30%;
  height: 50px;
  border-bottom: 2px white solid;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: skew($deg);
}

.border-right {
  @include nav-border(-45deg);
  border-right: 3px white solid;
  left: 50%;
}

.border-left {
  @include nav-border(45deg);
  border-left: 3px white solid;
  right: 50%;
}

// For small screens
.border-bottom {
  border-bottom: 2px white solid;
}

// Navbar content
.navbar {
  z-index: 1;
  width: 100vw;
  height: 50px;
  background-image: linear-gradient(to right, black, rgb(44, 44, 44), black);
  opacity: 90%;
  position: fixed;
}

.grid {
  grid-template-columns: 1.2fr 1fr 1.2fr;
}

.text-large {
  font-size: large;
}

.justify-end {
  justify-self: end;
}

.justify-start {
  justify-self: start;
}
