.grid {
  grid-template-columns: 2fr 1fr;
  height: fit-content;
}

h4 {
  margin: 3% 0;
  font-weight: lighter;
}

.small-screen {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 5%;
  }
}
