// Title and link to register
h3 {
  margin: 0;
}

a {
  font-size: small;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

// Text inputs
.p-inputgroup {
  border: 0.5px white solid;
  margin: 3% 0;
}

.btn {
  background-color: #17202f;

  &:hover {
    border-color: #12d0ff;
  }
}

// Error message
label {
  color: red;
  font-size: 1.3rem;
  border: 1px red solid;
  padding: 0px 30px;
}

// For different screen dimensions
.small-screen {
  h3 {
    font-size: 1.5rem;
  }
}
