h3 {
  font-size: 3rem;
  margin: 3% 0;
  font-weight: lighter;
}

.grid {
  gap: 5%;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 100%;
}

// For mobile
.small-screen {
  h3 {
    padding-left: 1%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
