// Exterior Options layout
.grid {
  grid-template-columns: 2fr 1fr;
  height: fit-content;
}

#colour-picker-wrapper {
  padding-bottom: 5%;
}

// Colour selection UI
#list-wrapper {
  width: 100%;
}

h4 {
  margin-bottom: 15px;
  font-weight: lighter;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    font-size: 2rem;
    margin: 5%;
    margin-left: 0;
    transition: 0.3s;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      height: 25px;
      width: 25px;
      background-size: contain;
      background-image: url("https://ik.imagekit.io/h0s40k5ceq/photos/exterior/thumbnails/lexus-hazel.jpg");
      border: 1px white solid;
      border-radius: 50%;
    }

    &:hover {
      cursor: pointer;
      background-color: grey;
      padding: 2%;
      transition: 0.3s;
    }
  }
}

// Small screen styling
.small-screen {
  .grid {
    grid-template-columns: 1fr;
  }

  #list-wrapper {
    padding-left: 5%;
    padding-bottom: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.xsmall-screen {
  ul {
    grid-template-columns: 1fr;
  }
}
