<app-header></app-header>

<article>
  <!-- Opener -->
  <section>
    <header [ngClass]="{'container': !isSmall}">
      <h1>S90</h1>
      <h2 *ngIf="!isSmall">Elegance<br>& Class</h2>
    </header>
    <div id="img-wrapper">
      <img id="side-on-image" src="../../../../assets/background/4k-side-on.jpg" alt="Picture of Volvo S90 side view">
    </div>
  </section>

  <!-- Gallery and features -->
  <section id="showcase" [ngClass]="{'container grid showcase-grid': !isSmall}">
    <app-gallery [images]="images"></app-gallery>
    <app-features></app-features>
  </section>


  <!-- Specs -->
  <section id="specifications" [ngClass]="{'container': !isSmall}">
    <app-specifications></app-specifications>
  </section>


</article>

<app-footer></app-footer>