// Opener styling
header {
  top: 50px;
  left: 10%;
  position: absolute;

  h1 {
    font-size: 9em;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: min(280px, 30%); /* or 100px */
      border-bottom: 2px solid white;
    }
  }

  h2 {
    margin-top: 2%;
    font-size: calc(1em + 3rem);
  }
}

#img-wrapper {
  overflow-x: hidden;

  img {
    top: 0;
    width: 100%;
    min-width: 740px;
  }
}

// Section styling

#showcase,
#specifications,
#configuratior-animations {
  margin-bottom: 3%;
}

.showcase-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  align-items: start;
}
