<section [ngClass]="{'container' : !isSmall, 'small-screen': isSmall, 'xsmall-screen': isXSmall}">

  <div id="int-wrapper" class="grid">
    <div>
      <img [src]="'https://ik.imagekit.io/h0s40k5ceq/photos/interior/' + selectedTrim + '/1.webp'" alt="">
    </div>
    <div>
      <img [src]="'https://ik.imagekit.io/h0s40k5ceq/photos/interior/' + selectedTrim + '/2.webp'" alt="">
    </div>
    <div>
      <img [src]="'https://ik.imagekit.io/h0s40k5ceq/photos/interior/' + selectedTrim + '/3.webp'" alt="">
    </div>
    <div>
      <img [src]="'https://ik.imagekit.io/h0s40k5ceq/photos/interior/' + selectedTrim + '/4.webp'" alt="">
    </div>
  </div>

</section>