<div [ngClass]="{'small-screen': isSmall}">
  <h3>Gallery</h3>

  <div id="gallery-wrapper">
    <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '100%'}"
      [numVisible]="3" [circular]="true" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true">
      <ng-template pTemplate="item" let-image>
        <img [src]="path+image.imageSrc" [alt]="image.alt" [title]="image.title" style="width: 100%;" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-image width="50%">
        <div class="grid  grid-nogutter justify-content-center">
          <img [src]="path+image.imageSrc" [alt]="image.alt" [title]="image.title" width=80% />
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>