<div>
  <h4>Accessories</h4>
  <p id="trigger" (click)="showAcessoriesModal()" class="scale-animation"><fa-icon
      [icon]="faPenToSquare"></fa-icon><span>
      View and edit</span></p>
</div>

<p-dialog [(visible)]="displayAccessoriesModal" [modal]="true" [style]="{width: '90%'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="true">

  <app-accessories [edit]="true" [selectedAccessories]="selectedAccessories"></app-accessories>

  <ng-template pTemplate="footer">
    <button class="btn" (click)="displayAccessoriesModal=false">Update</button>
  </ng-template>
</p-dialog>