// Sidebar
// Title and link to login
h3 {
  margin: 0;
}

a {
  font-size: small;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

form > p {
  margin: 25px 0;
}

// Text inputs
.p-inputgroup {
  border: 0.5px white solid;
  margin: 3% 0;
}

.delete-btn {
  margin: 0;
}

// Error message
label {
  color: red;
  font-size: 1.3rem;
  border: 1px red solid;
  padding: 0px 30px;
}

.small-screen {
  h3 {
    font-size: 1.5rem;
  }
}
