button {
  width: 60%;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 8px 0;
}

img {
  height: auto;
}

.grid {
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
}

.blurb {
  border: 1px white solid;
  border-radius: 4%;
  width: 100%;
  height: fit-content;
  padding: 5%;
  text-align: center;
}

// For mobile
.small-screen {
  @for $i from 1 to 4 {
    .g-area:nth-child(#{$i}) {
      grid-area: s + $i;
    }
  }

  .grid {
    margin: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "s1 s2" "s3 s3";
  }
}

.xsmall-screen {
  .grid {
    margin: 0 5%;
    gap: 0%;
    grid-template-areas: "s1" "s2" "s3";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
