<section [ngClass]="{'container' : !isSmall, 'small-screen': isSmall, 'xsmall-screen': isXSmall}">

  <div id="int-wrapper" class="grid">
    <div>
      <img src="https://ik.imagekit.io/h0s40k5ceq/photos/gallery/4k-head-on.jpg" alt="">
    </div>
    <div>
      <img src="https://ik.imagekit.io/h0s40k5ceq/photos/gallery/1080p-water.jpg" alt="">
    </div>
    <div>
      <img src="https://ik.imagekit.io/h0s40k5ceq/photos/gallery/1080p-evening-bridge.jpg" alt="">
    </div>
    <div>
      <img src="https://ik.imagekit.io/h0s40k5ceq/photos/gallery/1080p-architecture.jpg" alt="">
    </div>
  </div>

</section>