<div>
  <h4>Interior Trim</h4>
  <p id="trigger" (click)="showTrimModal()" class="scale-animation"><fa-icon [icon]="faPenToSquare"></fa-icon><span>
      View and edit</span></p>
</div>

<p-dialog [(visible)]="displayTrimModal" [modal]="true" [style]="{width: '90%'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="true">

  <app-int-trim-picker (trimEvent)="updateTrim($event)" [selectedTrim]="selectedTrim"></app-int-trim-picker>

  <ng-template pTemplate="footer">
    <button class="btn" (click)="displayTrimModal=false">Update</button>
  </ng-template>
</p-dialog>