/* You can add global styles to this file, and also import other style files */

// Resets
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Nobel, Arial, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Formatting content
h3 {
  font-size: 3rem;
  margin: 3% 0;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

// Sizing
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 5%;
}

.small-screen {
  h3 {
    padding-left: 1%;
  }
}

// PrimeNG components styling
.p-link:focus {
  box-shadow: none !important;
}

.p-sidebar-mask {
  z-index: 0 !important;
}
