/* You can add global styles to this file, and also import other style files */

// Resets
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Nobel, Arial, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Formatting content
h3 {
  font-size: 3rem;
  margin: 25px 0;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

// Sizing
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  place-items: center;
  gap: 5%;
}

.small-screen {
  h3 {
    padding-left: 1%;
  }
}

// Animations
.scale-animation {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

// Register button, PrimeNG button is hard to style
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  margin: 5% 0;
  transition: 0.2s;

  &:hover {
    transform: scale(1.04);
  }
}

// PrimeNG components styling
.p-link:focus {
  box-shadow: none !important;
}

.p-sidebar-mask {
  z-index: 0 !important;
}

.p-dock {
  position: relative !important;
  z-index: 0 !important;
}

.p-dropdown {
  width: 100% !important;
  position: relative !important;
}

// .p-dropdown-items {
//   position: absolute !important;
// }
