<p-card header="header">
  <div class="grid">
    <!-- <p>https://ik.imagekit.io/h0s40k5ceq/photos/exterior/{{item.colour}}/1</p> -->
    <img src="../../../../../../assets/photos/gallery/1080p-architecture.jpg" alt="">

    <app-edit-exterior (exteriorEvent)="updateExterior($event)" [selectedExterior]="car.colour"></app-edit-exterior>

    <app-edit-trim (trimEvent)="updateTrim($event)" [selectedTrim]="car.trim"></app-edit-trim>

    <app-edit-accessories [selectedAccessories]="car.options"></app-edit-accessories>


    <div class="flex">
      <button id="update-btn" class="btn" (click)="updateCar(index, car)">Save</button>
      <button id="delete-btn" class="btn" (click)="deleteCar(index)">Delete</button>
    </div>

  </div>
</p-card>