<app-header [protected]="false"></app-header>

<!-- Intro -->
<article>
  <section>
    <app-ext-colour-picker (colourEvent)="updateColour($event)"></app-ext-colour-picker>
  </section>
  <section>
    <app-int-trim-picker (trimEvent)="updateTrim($event)"></app-int-trim-picker>
  </section>
  <section>
    <app-accessories (accessoriesEvent)="updateAccessories($event)"></app-accessories>
    <div class="grid container">
      <p>We know that buying a car is a hard decision. If you have an account with us, you can save your S90
        configuration
        and
        purchase at a later date</p>
      <button *ngIf="isLoggedIn; else elseBlock" type="submit" class="btn"
        (click)="onConfiguratorSubmit()">Save</button>

      <ng-template #elseBlock><button type="submit" class="btn"><app-register></app-register></button></ng-template>
    </div>
  </section>
</article>

<app-footer></app-footer>

<!-- https://ik.imagekit.io/h0s40k5ceq/photos/cloudimage/" -->