// Section styling
section {
  border-top: 2px white solid;
}

article {
  overflow: hidden;

  & section:first-of-type {
    margin-top: 80px;
    border-top: none;
  }
}

div {
  margin-bottom: 25px;
}

.grid {
  grid-template-columns: 2fr 1fr;
}

.btn:hover {
  transform: none;
}
