// Section styling
section {
  border-top: 2px white solid;
}

article {
  overflow: hidden;

  & section:first-of-type {
    margin-top: 80px;
    border-top: none;
  }
}

.grid {
  grid-template-columns: 2fr 1fr;
}
// Register button, PrimeNG button is impossible to style
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  background-color: #17202f;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  opacity: 1;
  margin: 5% 0;

  &:hover {
    border-color: #12d0ff;
  }
}
