// Section styling
section {
  margin-top: 50px;
  margin-bottom: 3%;
}

article {
  overflow: auto;
}

// div {
//   width: 60%;
//   max-width: 60%;
//   max-height: 60%;
//   margin: auto;
// }

div {
  height: 450px;
}
