<div [ngClass]="{'container' : !isSmall, 'small-screen': isSmall, 'xsmall-screen': isXSmall}">
  <h3>Interior Trim</h3>

  <div class="grid" id="trim-picker-wrapper">
    <div id="list-wrapper">
      <p>The interior of the S90 is made from premium leather and suede materials, solid wood and comes in three
        different colour variations.</p>

      <div>
        <h4>Currently: <i>{{selectedTrim}}</i></h4>

        <ul>
          <li (click)="updateTrim('Black')">Black</li>
          <li (click)="updateTrim('Tan')">Tan</li>
          <li (click)="updateTrim('Two-Tone')">Two-Tone</li>
        </ul>
      </div>

    </div>

    <app-trim-display [selectedTrim]="selectedTrim"></app-trim-display>
  </div>

</div>