<section [ngClass]="{'small-screen': isSmall}">
  <div [ngClass]="{'x-small-screen': isXSmall}" class="container grid">

    <app-volvo-logo></app-volvo-logo>

    <p>The code for this project can be found <a id="github"
        href="https://github.com/cdonougherlee/Dealership-project">here</a>
    </p>

    <div id="page-links">
      <a routerLink="/configurator" class="scale-animation"><fa-icon [icon]="faSliders"></fa-icon><span
          *ngIf="!isXSmall">
          Configurator</span></a>

      <a *ngIf="loggedIn else elseBlock" [ngClass]="{'justify-start': !isXSmall}" routerLink="/profile/{{username}}"
        class="scale-animation"><fa-icon [icon]="faUser"></fa-icon><span *ngIf="!isXSmall">
          Profile</span></a>

      <ng-template #elseBlock>
        <app-register [ngClass]="{'justify-start': !isXSmall}"></app-register>
      </ng-template>
    </div>

  </div>
  <p-scrollTop></p-scrollTop>
</section>