<div id="specification-wrapper" [ngClass]="{'small-screen': isSmall}">
  <h3>Specifications</h3>

  <div id="accordian-wrapper">
    <p-accordion>

      <p-accordionTab header="Performance">
        <p-table [value]="performanceSpecs" styleClass="p-datatable-striped" responsiveLayout="scroll">
          <ng-template pTemplate="body" let-p>
            <tr>
              <td>{{p.subject}}</td>
              <td>{{p.value}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>

      <p-accordionTab header="Capacity">
        <p-table [value]="capacitySpecs" styleClass="p-datatable-striped" responsiveLayout="scroll">
          <ng-template pTemplate="body" let-s>
            <tr>
              <td>{{s.subject}}</td>
              <td>{{s.value}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>

      <p-accordionTab header="Weight">
        <p-table [value]="weightSpecs" styleClass="p-datatable-striped" responsiveLayout="scroll">
          <ng-template pTemplate="body" let-w>
            <tr>
              <td>{{w.subject}}</td>
              <td>{{w.value}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>

      <p-accordionTab header="Exterior Dimensions">
        <p-table [value]="exteriorSpecs" styleClass="p-datatable-striped" responsiveLayout="scroll">
          <ng-template pTemplate="body" let-e>
            <tr>
              <td>{{e.subject}}</td>
              <td>{{e.value}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>

    </p-accordion>
  </div>
</div>