<div [ngClass]="{'container' : !isSmall, 'small-screen': isSmall, 'xsmall-screen': isXSmall}">
  <h3>Exterior</h3>

  <div id="colour-picker-wrapper" class="grid">
    <app-ext-three-sixty [selectedExterior]="selectedExterior"></app-ext-three-sixty>

    <div id="list-wrapper">
      <h4>Currently: <i>{{selectedExterior}}</i></h4>

      <ul>
        <li (click)="updateExterior('Candy Red')">Candy Red</li>
        <li (click)="updateExterior('Sonic Silver')">Sonic Silver</li>
        <li (click)="updateExterior('Charcol')">Charcol</li>
        <li (click)="updateExterior('Satin Blue')">Satin Blue</li>
      </ul>

    </div>
  </div>
</div>